<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fsvieira.balance" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Balance</name>
    <description>
        A logic game inspired by the famous variant of 12 Coins mathematical problem.
    </description>
    <author email="sv.filipe@gmail.com" href="http://fsvieira.com">
      Filipe dos Santos Vieira
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />

	<icon src="www/img/icon.png" width="48" height="48" />
	<icon src="www/img/icon_large.png" width="64" height="64" />

    <!-- Don't store local date in an iCloud backup. Turn this to "cloud" to enable storage 
         to be sent to iCloud. Note: enabling this could result in Apple rejecting your app.
    -->
    <preference name="BackupWebStorage" value="none" />

    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>
