<ion-view ng-controller='GameCtrl' title="Ballance: Level {{game.level}}">
  <ion-content class="has-header bg" overflow-scroll='true' >
	  <div class='error' ng-show='error_msg !== ""'>
		{{error_msg}}
		<div class='close ion-close-circled' ng-click='error("")'></div>
	  </div>
	  
    
	
<div class='game_content' >
	
	<div ng-if='tutorial' class='tutorial'>
				<img class='left' src='img/anime_heads/kenonomimigirl.png'><img>
				<div class='text'>{{tutorial.tut[tutorial.index]}}</div>
				<div class='clear'></div>
				<div class='ion-arrow-left-a tut_arrow left' ng-click='tut_back()' ng-if='tutorial.index !== 0'></div>
				<div class='ion-arrow-right-a tut_arrow right' ng-click='tut_next()' ng-if='tutorial.index < (tutorial.tut.length-1)' ></div>
				<div class='clear'></div> 
			</div>	
	
	<button class="button button-balanced button-block" ng-click='restart()'>Restart</button>
	<hr />	
			<div class='balls_box' >
				<div 
					class='ball_box' 
					ng-repeat='(key, val) in game.balls' 
					ng-class='(val===0)?"zero":""' 
					bl-draggable ball-type='{{key}}'
					ng-show='(val !== 0) || ((game.weight.result.balls[key]!==undefined) && (game.weight.result.balls[key]!==0))'
				>
					<div class='title'>
						{{key}}: {{val}}
						<div >weight: {{game.weight.result.balls[key]}}</div>
					</div>
					<div class='ball_{{key}} ball' ></div>
				</div>				
				<div style='clear: both;'></div>
			</div>
			
			<div class='scale' ng-show='!game.weight.result'>
				<div >
					<div class='ball_drop' id='plate_a'>
						<center>
							<p ng-show='count(game.weight.balls.plates.a) === 0'>DRAG BALLS HERE!</p>
							<p ng-show='count(game.weight.balls.plates.a) > 0'>CLICK BALL TO REMOVE!</p>
						</center>
						
							<div class='balls_plate' >
								<div ng-repeat='(key, val) in game.weight.balls.plates.a'>
									<div ng-repeat='i in [] | range:val track by $index'
										class='ball left ball_{{key}}'
										ng-click="removeBall(key, 'A')"
									></div>	
								</div>
								
							</div>
						<div class='plate plate_a'></div>
					</div>
					<div class='ball_drop' id='plate_b'>
						<center>
							<p ng-show='count(game.weight.balls.plates.b) === 0'>DRAG BALLS HERE!</p>
							<p ng-show='count(game.weight.balls.plates.b) > 0'>CLICK BALL TO REMOVE!</p>
						</center>

						<div class='balls_plate'>
							<div ng-repeat='(key, val) in game.weight.balls.plates.b'>
									<div ng-repeat='i in [] | range:val track by $index'
										class='ball left ball_{{key}}'
										ng-click="removeBall(key, 'B')"
									></div>	
								</div>
						</div>	
						
						<div class='plate plate_b'></div>
					</div>
				</div>
				
					<button class="button button-assertive button-block" ng-click='weight()' ng-hide='(count(game.weight.balls.plates.b) !== count(game.weight.balls.plates.a)) || (count(game.weight.balls.plates.a) === 0)' >
						Make Weight Nº {{game.weight.total+1}}!! 
					</button>

					<button class="button button-dark button-block" ng-show='(count(game.weight.balls.plates.b) !== count(game.weight.balls.plates.a)) || (count(game.weight.balls.plates.a) === 0)' >
						Weight Nº {{game.weight.total+1}}!! (Number of balls must be even).
					</button>
				
			</div>

			<div class='scale' ng-show='game.weight.result'>
				<div >
					<div class='ball_drop' id='plate_a'>
						<center>
							<p style='text-transform: capitalize;'>{{game.weight.result.type_a}}!</p>
						</center>
						<div class='balls_plate' >
							<div ng-repeat='(key, val) in game.weight.balls.plates.a'>
								<div ng-repeat='i in [] | range:val track by $index'
									class='ball left ball_{{game.weight.result.type_a}}'
								></div>	
							</div>
						</div>
						<div class='plate plate_a'></div>
					</div>
					<div class='ball_drop' id='plate_b'>
						<center>
							<p style='text-transform: capitalize;'>{{game.weight.result.type_b}}!</p>
						</center>
						<div class='balls_plate'>
							<div ng-repeat='(key, val) in game.weight.balls.plates.b'>
								<div ng-repeat='i in [] | range:val track by $index'
										class='ball left ball_{{game.weight.result.type_b}}'
								></div>
							</div>
						</div>	
						
						<div class='plate plate_b'></div>
					</div>
				</div>
				<div class='clear'></div>
				<div class='button-bar' ng-show='game.weight.result' >
					<button class="button button-balanced" ng-click='apply_weight()'>
						Good! Keep weight. 
					</button>

					<button class="button button-assertive" ng-click='cancel_weight()'>
						Cancel weight. 
					</button>
				</div>
			</div>
		</div>
		<center>
			
		<div class='clear'></div>
				<div ng-include="'templates/pub.html'"></div>

</center>
		<br>
		
		<div class='clear'></div>
</ion-content>
</ion-view>
