<ion-view title="Help">
  <ion-content class="has-header padding">
    <h1>The Game</h1>
    In this game you have 12 balls, 11 of them have the same weight and 1 of them has a different weight, it could be heavier or lighter. You have a two plate's scale and your goal is to find which ball has a different weight, and if it is heavier or lighter than the others. You have to find this out with just three weighings. 
    
    <h1>Playing the game</h1>
    When the game start the 12 balls are grouped as their possible weight, this can be Heavier, Lighter, Equal or Unknown, like this:
    <div class='balls_box'>
				<div class='zero ball_box'>
					<div class='title'>
						Heavier: 0<br>
						Weight: 
					</div>
					<div class='ball_heavier ball'></div>
				</div>
				
				<div class='zero ball_box'>
					<div class='title'>
						Lighter: 0<br>
						Weight: 
					</div>
					<div class='ball_lighter ball'></div>
				</div>
				
				<div class='zero ball_box'>
					<div class='title'>
						Equals: 0 <br>
						Weight: 
					</div>
					<div class='ball_equal ball'></div>
				</div>
				<div class='ball_box'>
					<div class='title'>
						Unknown: 12<br>
						Weight: 
					</div>
					<div class='ball_unknown ball'></div>
				</div>
				<div style='clear: both;'></div>
   </div>
   Since there is only one heavier or ligher ball, you need to get 11 balls on the equals group and 1 ball on 
   the ligther or heavier group to win the game.
   
   For example if there is 2 balls on Ligher group (Ligther: 2) and 2 balls on heavier group (Heavier: 2), you know that 
   all other balls are defintly equal (Equals: 8), and that the odd ball is in one of the lighter or heavier groups, meaning 
   that there are still 3 balls to be identified as equals.
   
   You can drag balls from a active group to one of the balance plates decrasing the balls number from that group,
   when ready press "Make Weight".
   
   
   <h2>Make Weight</h2>
   Making weights is how you find the diferent ball and if it is heavier or ligher. 
   
   <p>
	Here is a example how it works:
   </p>
   
   Lets say there is:
    <div class='balls_box'>
				<div class='zero ball_box'>
					<div class='title'>
						Heavier: 0<br>
						Weight: 
					</div>
					<div class='ball_heavier ball'></div>
				</div>
				
				<div class='zero ball_box'>
					<div class='title'>
						Lighter: 0<br>
						Weight: 
					</div>
					<div class='ball_lighter ball'></div>
				</div>
				
				<div class='zero ball_box'>
					<div class='title'>
						Equals: 0<br>
						Weight: 
					</div>
					<div class='ball_equal ball'></div>
				</div>
				<div class='ball_box'>
					<div class='title'>
						Unknown: 12<br>
						Weight: 
					</div>
					<div class='ball_unknown ball'></div>
				</div>
				<div style='clear: both;'></div>
   </div>
   <br>
   <p>And you drag 4 balls to the balance (Note: you can remove balls from the ballance by clicking on the ball to be removed):</p>
   
   <div class='game_content'>
		<div class='scale'>
				<div class='ball_drop'>
					<div class='balls_plate'>
						<div class='ball left ball_unknown'></div>
						<div class='ball left ball_unknown'></div>
					</div>
					<div class='plate plate_a'></div>
				</div>
				<div class='ball_drop'>
					<div class='balls_plate'>
						<div class='ball left ball_unknown'></div>
						<div class='ball left ball_unknown'></div>
					</div>	
						
					<div class='plate plate_b'></div>
				</div>
	</div>
   </div>
   
   <div class='clear'></div>
	<p>The unkown group will now be displaying the remaing balls (8):</p>

    <div class='balls_box'>
				<div class='zero ball_box'>
					<div class='title'>
						Heavier: 0<br>
						Weight: 
						
					</div>
					
					<div class='ball_heavier ball'></div>
				</div>
				
				<div class='zero ball_box'>
					<div class='title'>
						Lighter: 0<br>
						Weight: 
					</div>
					<div class='ball_lighter ball'></div>
				</div>
				
				<div class='zero ball_box'>
					<div class='title'>
						Equals: 0<br>
						Weight: 
					</div>
					<div class='ball_equal ball'></div>
				</div>

				<div class='ball_box'>
					<div class='title'>
						Unknown: 8<br>
						Weight: 
					</div>
					<div class='ball_unknown ball'></div>
				</div>
   </div>
   <div class='clear'></div>
   <br>
   <br>
   <p>By Pressing <button class="button button-assertive">Make Weight Nº 1!!</button>, the balls in the balance are weighted the result will be showed in groups as weigth.
	  For example if balls from plate left are heavier than plate right, the result would be:
   </p>
   
   <br>
   <div class='balls_box'>
				<div class='zero ball_box'>
					<div class='title'>
						Heavier: 0<br>
						Weight: 2
					</div>
					<div class='ball_heavier ball'></div>
				</div>
				
				<div class='zero ball_box'>
					<div class='title'>
						Lighter: 0<br>
						Weight: 2
					</div>
					<div class='ball_lighter ball'></div>
				</div>
				
				<div class='zero ball_box'>
					<div class='title'>
						Equals: 0<br>
						Weight: 8
					</div>
					<div class='ball_equal ball'></div>
				</div>

				<div class='ball_box'>
					<div class='title'>
						Unknown: 8<br>
						Weight: 0
					</div>
					<div class='ball_unknown ball'></div>
				</div>
   </div>
	<div class='clear'></div>
   <br>
   <br>
	<p>And on the balance it will display the corresponding group colors:</p>
	
	<div class='game_content'>
	<div class='scale' >
				<div >
					<div class='ball_drop' id='plate_a'>
						<center>
							<p style='text-transform: capitalize;'>Heavier!</p>
						</center>
						<div class='balls_plate' >
								<div  class='ball left ball_heavier'></div>
								<div  class='ball left ball_heavier'></div>
						</div>
						<div class='plate plate_a'></div>
					</div>
					<div class='ball_drop' id='plate_b'>
						<center>
							<p style='text-transform: capitalize;'>Ligther!</p>
						</center>
						<div class='balls_plate'>
								<div  class='ball left ball_lighter'></div>
								<div  class='ball left ball_lighter'></div>
						</div>	
						
						<div class='plate plate_b'></div>
					</div>
				</div>
	</div>
	</div>
	
	<div class='clear'></div>
   <br>
   <br>
	<p>If you are happy with the result you press <button class="button button-balanced">Good! Keep weight.</button> 
	(when you keep the weight the result takes effect and the balls will be put in the corresponding groups, and this counts as weight)
	or you can press <button class="button button-assertive" >Cancel weight.</button> to try again. 
	</p>
   
   <p>You continue to make weights until you got 11 balls in the equal group and 1 in heavier or lighter.
   But remenber the optimal solution is always less or equal to 3 weights.
   </p>
   
   <p>In the previews example when you press keep weight this would be the result:</p>
    <div class='balls_box'>
				<div class='ball_box'>
					<div class='title'>
						Heavier: 2<br>
						Weight: 
					</div>
					<div class='ball_heavier ball'></div>
				</div>
				
				<div class='ball_box'>
					<div class='title'>
						Lighter: 2<br>
						Weight: 
					</div>
					<div class='ball_lighter ball'></div>
				</div>
				
				<div class='ball_box'>
					<div class='title'>
						Equals: 8<br>
						Weight: 
					</div>
					<div class='ball_equal ball'></div>
				</div>

				<div class='zero ball_box'>
					<div class='title'>
						Unknown: 0<br>
						Weight: 
					</div>
					<div class='ball_unknown ball'></div>
				</div>
   </div>

   <div class='clear'></div>
   
   <h1>Dificulty Levels</h1>
   Dificulty levels are possible cases of the game to prepare you to the last level.
   
   <div ng-if='!system.cordova'>
	<h1>Get Android Version!</h1>
	Android Version is available at <a href='https://play.google.com/store/apps/details?id=com.fsvieira.balance' target='_blank'>Android App Store</a>
   </div>
   
   <h1>Assets Attribution</h1>
   
   <img src='img/anime_heads/kenonomimigirl.png'><img> 
   <br>
   <p>Niabot <a class='link' ng-click="open('http://commons.wikimedia.org/wiki/User:Niabot')">http://commons.wikimedia.org/wiki/User:Niabot</a> - Original Art | Rainbow Design</p>
   <p><a class='link' ng-click="http://opengameart.org/users/rainbow-design')">http://opengameart.org/users/rainbow-design</a> - Portrait crop editing </p>
   <hr>
   
   <!--
   <div ng-if='system.cordova'>
	   <h1>Adictional Info</h1>
	   Game developed by Filipe dos Santos Vieira, for more information see: <a ng-click="open('http://balance.fsvieira.com');">http://balance.fsvieira.com</a>
   </div>
   -->
   
	<br>
   <br>
   <br>   
   
   <div class='clear'></div>
  </ion-content>
</ion-view>
