/* Empty. Add your own CSS if you like */

.bg {
	background-image: url("../img/svg/bg.svg");
	background-size: cover;
}

.levels {
	width: 98%;
}

.error {
	border: 1px solid;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #D8000C;
	background-color: #FFBABA;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.close {
	float: right;
	font-size: 2em;
	cursor: pointer;
}

.title {
	text-transform: capitalize;
}

.level {
	border: 3px solid #333;
	padding: 2px;
	border: 2px solid #333;
    border-radius: 10px;
    margin: 1%;
    background-color: #E49135;
    /*min-height: 200px;*/
    display: block;
    width: 31%;
    color: #333;
    text-align: center;
    float: left;
    cursor: pointer;
    text-decoration: none;
}

.level:hover {
	background-color: #BA6222;
	color: #eee;
}

.level:hover .title {
    background-color: #E49135;
	color: #333;
}

.level .title {
	color: #eee;
	background-color: #BA6222;
	border-bottom: 3px solid #333;
	margin-bottom: 5px;
	/* text-align: center;*/
	padding: 2px;
	font-size: 1em;
}

.level .number {
	font-size: 4em;
	display: block;
	padding: 4px;
}

.star_container {
	width: 96px;
	margin-left: auto;
	margin-right: auto;
}

.star {
	background-image: url("../img/star.png");
	width: 32px;
	height: 32px;
	float: left;
}

.no_star {
	background-image: url("../img/star_gray.png");
	width: 32px;
	height: 32px;
	float: left;
}

.ball_equal {
	background-image: url("../img/svg/ball_yellow.svg");
	background-size: cover;
}

.ball_heavier {
	background-image: url("../img/svg/ball_red.svg");
	background-size: cover;
}

.ball_lighter {
	background-image: url("../img/svg/ball_blue.svg");
	background-size: cover;
}

.ball_unknown {
	background-image: url("../img/svg/ball_gray.svg");
	background-size: cover;
}

.zero {
	background-color: #eee !important;
	cursor: crosshair !important;
}

.zero .title {
	color: #eee !important;
	background-color: #333 !important;
	border-bottom: 3px solid red !important;
}

.ball_box {
	background-color: #ddff9f;
	padding: 2px;
	border: 2px solid #333;
    border-radius: 10px;
    /* margin: 1px;*/
    float: left;
    width: 25%;
    min-height: 108px;
    max-height: 150px;
    overflow: hidden;
    display: block;
    cursor: move;
}

.ball_box:hover {
	background-color: #b6ef77;
}

.ball_box:hover .title {
	background-color: #ddff9f;
}

.ball_box .title {
	background-color: #b6ef77;
	border-bottom: 3px solid #333;
	margin-bottom: 5px;
	text-align: center;
	padding: 2px;
}

.ball {
	margin-left: auto;
	margin-right: auto;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

.balls_box {
	margin-left: auto;
	margin-right: auto;
}

.scale {
	margin: 20px;
}

.ball_drop {
	width: 50%;
	border: 1px dotted #333;
	float: left;
	position: relative;
}

.plate {
	background-size: contain;
	background-repeat:no-repeat;
	bottom: 0px;
	position: relative;
}

.plate_a {
	background-image: url("../img/svg/plate_a.svg");
	float: right;
}

.plate_b {
	background-image: url("../img/svg/plate_b.svg");
}

.balls_plate {
	margin-left: auto;
	margin-right: auto;
}

.pub {
	width: 100%;
	height: 100px;
	border: 1px solid black;
}

.small .game_content {
	/* width: 426px;*/ 
	width: 100%;
	max-width: 426px;
	margin-left: auto;
	margin-right: auto;
}

.small .ball {
	width: 32px;
	height: 32px;
}

.small .ball_drag,
.small .ball_box:hover .ball {
	width: 48px;
	height: 48px;
}



.small .balls_plate {
	width: 96px;
	height: 64px;
}

.small .plate {
	width: 153px;
	height: 50px;
}


.pub {
	width: 100%;
	max-width: 400px;
	background-color: black;
	color: white;
}

.pub .img {
	float: left;
	margin: 2px;
}

.pub .img img {
	width: 75px;
	height: 75px;
}

.pub .title {
	color: red;
}

.pub .description {
	float: left;
	text-align: left;
	max-width: 200px;
}


.link {
	text-decoration: underline;
	color: blue;
}

.tut_arrow {
	font-size: 40px;
	float: left;
	margin-top: 4px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.tutorial img {
	margin: 3px;
}

.tutorial {
	margin-top: 4px;
	background-color: #FFA500;
	padding: 4px;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px;
}

.tutorial .text {
	margin: 3px;
}



